.top-content-info-details .right-info-details :is(.title, .rate-num) {
    font-weight: 500;
    color: var(--dark-01-color);
}

.top-content-info-details .right-info-details .title {
    font-size: 17px;

}

.top-content-info-details .right-info-details .rate-num {
    font-size: 15px;
}

.top-content-info-details .right-info-details .badge-top {
    padding: 5px 15px;
    background: var(--warning-01-color);
    border: var(--border-02);
    border-color: var(--warning-01-color);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    color: var(--white-01-color);
}


.top-content-info-details .icon-heart-details {
    font-size: 20px;
    cursor: pointer;
    margin-top: -6.5px;
}

.top-content-info-details .icon-heart-details.active {
    color: red;
}

@media screen and (max-width:450px) {

    .top-content-info-details .right-info-details .title {
        font-size: 14px;

    }

    .top-content-info-details .right-info-details .rate-num,
    .top-content-info-details .right-info-details .badge-top {
        font-size: 13px;
    }
}