.banner-home .info-banner-content .title-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 22px;

}

.banner-home .info-banner-content .title-section .text {
    text-align: right;
    max-width: 100%;
    font-size: 14px;
}

.banner-home .info-banner-content .title-apps {
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-01-color);
}

 .apps-content-info .link-app-one img {
    height: 50px;
    width: 100%;

}

/* SCREEN 1024PX */
@media screen and (max-width:1024px) {
    .banner-home .image-banner-home img {
        width: 100%;
        height: 100%;
    }
}

/* SCREEN 767PX */
@media screen and (max-width:767px) {
    .banner-home .image-banner-home {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-home .image-banner-home img {
        width: 482.04px;
    }

    .banner-home .info-banner-content .title-section,
    .banner-home .info-banner-content .apps-content-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .banner-home .info-banner-content .title-section .text {
        text-align: center;

    }


}


/* SCREEN 767PX */
@media screen and (max-width:550px) {
    .banner-home .image-banner-home {
        display: block;
        
    }

    .banner-home .image-banner-home img {
        width: 100%;
    }


}

html[dir="ltr"] .banner-home .image-banner-home{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

html[dir="ltr"] .banner-home .info-banner-content .title-section, 
html[dir="ltr"] .banner-home .info-banner-content .title-section .text{
    text-align: left;
}