.navbar-menu {
  padding: 14px 0 !important;
  background: var(--white-01-color);
  border-bottom: var(--border-02);
}

.navbar-menu .navbar-brand {
  padding-top: 0 !important;
}

.navbar-menu .navbar-nav {
  align-items: center;
}

.navbar-menu .navbar-toggler {
  padding: 7px 10px;
}

.navbar-menu .navbar-toggler:focus {
  box-shadow: none !important;
  border-color: var(--green-01-color);
}

.input-search-content {
  position: relative;
  background: var(--white-03-color);
  border-radius: 50px;
  padding: 0px 12px;
  margin-right: 15px;
  border: var(--border-02);
}

.input-search-content .icon-location {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
}

.input-search-content .input-search-location {
  background: transparent !important;
  border: none;
  padding-right: 32px !important;
}

.input-search-content .input-search-location::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-01-color) !important;
}

.input-search-content .form-control:focus {
  box-shadow: none;
}

/* START LANGUGE DROPDOWN */

:is(.icon-lang, .dropmenu-user) .dropdown-menu {
  --bs-dropdown-min-width: 7rem !important;
  --bs-dropdown-padding-y: 0rem !important;
  border-radius: 0 0 8px 8px !important;
  border: var(--border-02) !important;
  transform: translateX(32%);
}

:is(.icon-lang, .dropmenu-user) .dropdown-menu .dropdown-item {
  border-radius: 0 !important;
  background: transparent !important;
  padding: 10px;
  transition: all 0.5s;
}

:is(.icon-lang, .dropmenu-user) .dropdown-menu .dropdown-item:hover {
  color: var(--green-01-color);
}

:is(.icon-lang, .dropmenu-user) .dropdown-item:nth-child(1) {
  border-bottom: var(--border-02);
}

:is(.icon-lang .dropdown .drop-lang, .dropmenu-user .drop-user) {
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

:is(.icon-lang, .dropmenu-user) .dropdown-toggle::after {
  display: none;
}

:is(.icon-lang, .dropmenu-user .drop-user) .btn-check:checked + .btn,
:is(.icon-lang, .dropmenu-user .drop-user) .btn.active,
:is(.icon-lang, .dropmenu-user .drop-user) .btn.show,
:is(.icon-lang, .dropmenu-user .drop-user) .btn:first-child:active,
:not(.icon-lang .btn-check) + .icon-lang.btn:active,
:not(.dropmenu-user .drop-user .btn-check)
  + .dropmenu-user
  .drop-user.btn:active {
  background: transparent !important;
  border: none !important;
}

:is(.icon-lang, .dropmenu-user) .dropdown-menu[data-bs-popper] {
  margin-top: 15px;
}

:is(.icon-lang, .dropmenu-user) .dropdown-item.active,
:is(.icon-lang, .dropmenu-user) .dropdown-item:active {
  background: transparent !important;
  color: var(--dark-01-color);
}

.icon-border {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: var(--border-02);
  cursor: pointer;
}

.icon-border .lang {
  padding: 10px 12px;
}

/* END LANGUGE DROPDOWN */
.navbar-menu .navbar-search {
  display: none;
  width: 55%;
}

.navbar-menu .navbar-search .input-search-content {
  width: 100%;
  margin: 0;
}

.navbar-menu .main-info-left .icon-lang {
  display: none;
}

/* SCREEN 991PX */
@media screen and (max-width: 991px) {
  .navbar-menu .navbar-nav {
    align-items: initial;
  }

  .navbar-menu .nav-menu .navbar-nav {
    padding: 15px 0;
  }

  .navbar-menu .navbar-nav .input-search-content {
    display: none;
  }

  .navbar-menu .navbar-search {
    display: block;
  }

  .navbar-menu .navbar-brand {
    margin: 0;
  }

  .navbar-menu .left-nav-menu .icon-lang {
    display: none;
  }
}

/* SCREEN 550PX */
@media screen and (max-width: 550px) {
  .navbar-menu .navbar-search {
    width: 50%;
    margin-left: auto;
    margin-right: 15px;
  }

  .navbar-menu {
    padding: 8px 0 15px 0 !important;
  }

  .navbar-menu .navbar-toggler {
    padding: 5px 8px;
  }
}

/* SCREEN 480PX */
@media screen and (max-width: 480px) {
  .navbar-menu .navbar-search {
    display: none;
  }

  .left-nav-menu {
    flex-direction: column-reverse;
    align-items: initial !important;
  }

  .left-nav-menu .btn-main {
    width: 100%;
  }
}

.navbar-menu.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: slideDown 0.5s ease;
  border-bottom: var(--border-02);
  background: var(--white-01-color);
  z-index: 300 !important;
}

/* ANIMATION ON SCROLL MENU NAVBAR */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* LTR DIRECTION */

html[dir="ltr"] .navbar-menu .navbar-nav {
  margin-right: auto !important;
  margin-left: initial !important;
}

html[dir="ltr"] .navbar-menu .navbar-brand {
  margin: 0 1rem 0 0 !important;
}

html[dir="ltr"] .input-search-content .icon-location {
  right: initial;
  left: 4%;
}

html[dir="ltr"] .navbar-menu .input-search-content {
  margin: 0 0 0 15px;
}

html[dir="ltr"] .input-search-content .input-search-location {
  padding-left: 32px !important;
  padding-right: 0 !important;
}

/* IF USER LOGIN */
.image-user-login img {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.left-nav-menu--2 {
  display: none;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 991px) {
  .left-nav-menu--2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 12px;
    background: var(--white-01-color);
    box-shadow: var(--box-shadow);
    justify-content: space-around;
    border-top: var(--border-02);
    z-index: 100;
    display: flex !important;
  }

  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    position: initial;
    inset: initial !important;
  }

  .left-nav-menu--2
    :is(.icon-lang, .dropmenu-user)
    .dropdown-menu[data-bs-popper] {
    margin-top: -146px;
    right: 18px;
    border-radius: 5px 5px 0 0 !important;
  }
}

.left-nav-menu--2 .dropmenu-user .dropdown-menu {
  --bs-dropdown-min-width: 11rem !important;
}

.left-nav-menu--2 .dropmenu-user .dropdown-item,
.left-nav-menu--2 .dropmenu-user .dropdown-item .link-drop-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.left-nav-menu--2 .dropmenu-user .dropdown-item svg {
  width: 22px;
  height: 22px;
}

.left-nav-menu--2 .dropmenu-user .dropdown-item {
  padding: 15px 12px;
}

.left-nav-menu--2 .dropmenu-user .dropdown-item:not(:last-child) {
  border-bottom: var(--border-02);
}

.left-nav-menu--2 .dropmenu-user .dropdown-item .logout-drop {
  color: var(--danger-01-color) !important;
}

.left-nav-menu--2 .dropmenu-user .dropdown-item .link-drop-item {
  font-size: 15px;
  font-weight: 500;
  color: var(--dark-01-color);
}

/* SCREEN 1500px */
@media screen and (max-width: 1500px) {
  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(55%);
  }

  html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(22%);
  }
}

/* SCREEN 1220PX */
@media screen and (max-width: 1220px) {
  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(70%);
  }

  html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(8%);
  }
}

/* SCREEN 991PX */
@media screen and (max-width: 991px) {
  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    --bs-dropdown-min-width: 13rem !important;
  }

  .left-nav-menu--2 .dropmenu-user .dropdown-menu,
  html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    margin: 0 !important;
    top: -503% !important;
    transform: translateX(55%) !important;
    border-radius: 8px 8px 0 0 !important;
  }

  html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(-55%) !important;
  }

  .left-nav-menu--2 .icon-lang .dropdown-menu {
    transform: translate3d(0px, -55px, 0px) !important;
    border-radius: 8px 8px 0 0 !important;
    right: 0 !important;
  }
}

/* SCREEN 675PX */
@media screen and (max-width: 675px) {
  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(65%) !important;
  }

  html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(-65%) !important;
  }
}

/* SCREEN 575PX */
@media screen and (max-width: 485px) {
  .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(75%) !important;
  }

  html[dir="ltr"] .left-nav-menu--2 .dropmenu-user .dropdown-menu {
    transform: translateX(-75%) !important;
  }
}

/* SEARCH BAR */
.navbar-menu .all-input-search-city {
  width: auto;
}
.navbar-menu .all-input-search-city input::placeholder {
  font-size: 11px !important;
}
.navbar-menu .all-input-search-city .all-city-search {
  top: 61px;
  border-radius: 0;
}

@media screen and (max-width: 678px) {
  .all-input-search-city .all-city-search {
    width: 68vw;
  }
}
